Window {
    background-color: #fff;
}

Panel {
    background-color: #F0F0F0;
}

TabPane,
Label,
Button,
TextField {
    color: #212121;
}

.secondary-color {
    color: #757575;
}

Button,
TextField {
    background-color: #fff;
    border-width: 1px;
    border-radius: 8px;
    border-color: #D1D1D1;
}

Button:hover {
    background-color: #E9E9E9;
}

TextField {
    cursor: text;
    --selection-color: #3333;
}

TextField:focus {
    --selection-color: #33b3;
}

TabPane {
    --tabs-background-color: #C8C8C8;
    --tab-background-color: #DCDCDC;
    --tab-selected-background-color: #F0F0F0;
}

ScrollPane {
    background-color: #b0b0b0;
    --scrollbar-width: 16px;
}

ScrollBar {
    background-color: #a0a0a0;
    thumb-color: #f0f0f0;
}