* {
    color: #f0f0f0;
    --scrollbar-width: 16dp;
    --hint-color: #aaa;
}

.context-menu > *,
.list > Button {
    border-width: 0;
    border-radius: 0;
}

ScrollPane,
Window {
    background-color: #131319;
}

WindowFrame {
    background-color: #334;
}

Panel {
    background-color: #17171d;
}

.secondary-color {
    color: #757575;
}

Button {
    text-align: center;
}

Button,
TextArea,
TextField {
    background-color: #191920;
    border-width: 1dp;
    border-radius: 8dp;
    border-color: #446;
}

Button:hover {
    background-color: #223;
}

TextArea,
TextField {
    cursor: text;
    --selection-color: #3333;
    --cursor-width: 1dp;
}

TextArea {
    --gutter-background-color: #101019;
    --gutter-color: #EEE;
    --gutter-padding: 8dp;
    --current-line-background-color: #223;
}

TextArea:focus,
TextField:focus {
    --selection-color: #33b3;
}

TabPane {
    --tabs-background-color: #212128;
    --tab-background-color: #404049;
    --tab-selected-background-color: #41414a;
}

ScrollBar {
    background-color: #30303B;
    thumb-color: #404049;
}