* {
    --stroke-color: #f0f0f0;
    color: var(--stroke-color);
    --thickness: 1dp;
    --scrollbar-width: 16dp;
    --hint-color: #aaa;
}

.combobox-options > container > *,
.context-menu > *,
.list > Button {
    outline-width: 0;
    border-radius: 0;
}

ScrollPane,
Window {
    background: #131319;
}

WindowFrame {
    background: #334;
}

Panel {
    background: #17171d;
}

.secondary-color {
    color: #757575;
}

Button,
TextField,
ComboBox {
    height: 32dp;
}

Button {
    text-align: center;
    cursor: pointer;
}

Button,
TextArea,
TextField,
ComboBox {
    background: #191920;
    outline: 1dp solid #446;
    border-radius: 8dp;
}

Button:enabled:hover {
    background: #223;
}

TextArea,
TextField,
ComboBox {
    cursor: text;
    --selection-color: #3333;
    --cursor-width: 1dp;
}

TextArea {
    --gutter-background-color: #101019;
    --gutter-color: #EEE;
    --gutter-padding: 8dp;
    --current-line-background-color: #223;
}

TextArea:focus,
TextField:focus,
ComboBox:focus {
    --selection-color: #33b3;
}

TabPane {
    --tab-height: 32dp;
    --tabs-background-color: #212128;
    --tab-background-color: #292939;
    --tab-selected-background-color: #30304a;
}

ScrollBar {
    background: #30303B;
    thumb-color: #404049;
}

ProgressBar {
    background: #224;
    color: #55B;
    border-radius: 4dp;
}

CheckBox {
    cursor: pointer;
    --check-background-color: #2B2B43;
    --check-color: #505093;
}