* {
    color: #212121;
    --scrollbar-width: 16dp;
}

.list > Button {
    border-width: 0;
    border-radius: 0;
}

Window {
    background-color: #fff;
}

Panel {
    background-color: #F0F0F0;
}

.secondary-color {
    color: #757575;
}

Button {
    text-align: center;
}

Button,
TextArea,
TextField {
    background-color: #fff;
    border-width: 1px;
    border-radius: 8px;
    border-color: #D1D1D1;
}

Button:hover {
    background-color: #E9E9E9;
}

TextArea,
TextField {
    cursor: text;
    --selection-color: #3333;
}

TextArea {
    --gutter-background-color: #ccc;
    --gutter-color: #333;
    --gutter-padding: 8dp;
}

TextArea:focus,
TextField:focus {
    --selection-color: #33b3;
}

TabPane {
    --tabs-background-color: #C8C8C8;
    --tab-background-color: #DCDCDC;
    --tab-selected-background-color: #F0F0F0;
}

ScrollPane {
    background-color: #b0b0b0;
}

ScrollBar {
    background-color: #a0a0a0;
    thumb-color: #f0f0f0;
}